doctype html
html
  head
    title= title
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="../styles/style.css")
  body
    h1 Sorry, no calendar here. #{title}
    p Today's date is #{date.toLocaleDateString('en-US')}
    button#submit
      i.fa.fa-calendar
    link(href='http://www.timeanddate.com/calendar')
script(src='../vendor/jquery/dist/jquery.min.js')
script(src='../javascript/app.js')


