extends ./parent.jade
block .container

   h1 Send us photos of you enjoying ...
     form(method='post', enctype='multipart/form-data')
      br
      input(type='file', name='image', accept='image/*')
      br
      input(type='submit', value='Share your photo!')

